@media (max-width: 576px) {
  .image {
    display: none;
  }
  .button {
    margin: auto;
    width: 80%;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .footer-column {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-column {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .vegetable-card-item {
    flex: 0 0 80%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .vegetable-card-item {
    flex: 0 0 70%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .vegetable-card-item {
    flex: 0 0 90%;
    margin: auto;
  }
}

@media (max-width: 576px) {
  .vegetable-card-item {
    flex: 0 0 100%;
    margin: auto;
  }
}
