/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primarybg: #50d5b7;
  --secondarybg: #067d68;
  --textColor: #fbbc05;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, var(--primarybg), var(--secondarybg));
  min-height: 2000px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: linear-gradient(to right, var(--primarybg), var(--secondarybg));
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  
}

.navbar .navbar-logo {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: #28615b;
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1rem;
  margin: 0.3rem;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--textColor);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}


.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

#mainContent {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.hero-content {
  max-width: 60%;
}

 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primarybg: #50d5b7;
  --secondarybg: #067d68;
  --textColor: #fbbc05;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-image: linear-gradient(to right, var(--primarybg), var(--secondarybg));
  background-repeat: no-repeat;
  
}

.mynavbar {
  background-image: linear-gradient(to right, var(--primarybg), var(--secondarybg));

}

.navbar-logo {
  color: #067d68;
}
.navbar .nav-link {
  font-size: 1rem;
}

.ikon {
  font-size: 20px;
  padding: 8px;
  color: rgb(0, 0, 0, 60%);
  transition: color 0.5s ease;
}
.ikon:hover {
  color: #000;
}

/* main content */
.mainContent {
  padding-block: 50px;
}
/* end main content */

.subtext-text-display .text {
  color: #28615b;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.button{
  background-color: #28615b;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}